body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background-color: darkgray;
}

body > div {
  background: #2c0b47;
  width: 64px;
  height: 64px;
  border-radius: 1000px;
}

.one:focus,
.one:focus-visible {
  /* expect "double border: inner ring white; outer red" */
  box-shadow: 0px 0px 0px 4px red, 0px 0px 0px 2px white;
  /* actual: inner: default browser outline  blue, midle: white, outer: red  */
}

.two:focus,
.two:focus-visible {
  outline: none;
  /* expect "double border: inner ring white; outer blue" */
  box-shadow: 0px 0px 0px 4px red, 0px 0px;
  /* actual: only blue border shown */
}
.three:focus {
  /* outline: none; */
}

/* also other  */
